name: test

on: [workflow_dispatch, push]

env:
  CARGO_TERM_COLOR: never
  RUST_LOG: trace

jobs:
  build-ubuntu-default:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v5
      - name: Build project
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Run clippy
        run: cargo clippy -- -D warnings

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Fetch sources
        uses: actions/checkout@v5
      - name: Build project
        run: cargo build
      - name: Run tests
        run: cargo test -- --no-capture
      - name: Run clippy
        run: cargo clippy -- -D warnings
